<div>
     <div>
        <a class="btn" href="/">HOME</a>
    </div>
    <div class="header">
        <h1>Carrito</h1>
        <h3>Id: {{cId}}</h3>
    </div>
    <div class="homeContainer">
        <div class="productContainer">
        {{#each products}}
            <div class="product">
                <div class="productContent">
                    <h3 class="prodItem">{{this.productId.title}}</h3>
                    <img class="prodImg" src={{this.productId.thumbnail}} alt={{this.productId.title}}>
                    <h4 class="prodItem">Code: {{this.productId.code}}</h4>
                    <h4 class="prodItem">Description: {{this.productId.description}}</h4>
                    <h4 class="prodItem">$ {{this.productId.price}}</h4>
                    <h4 class="prodItem">Quantity: {{this.quantity}}</h4>
                </div>
            </div>
        {{/each}}
        </div>
    </div>
</div>

<style>
       * {
    background-color: black;
    color: white;
}

.header {
    width: 95%;
    margin: auto;
    text-align: center;
    padding: .5rem 0 ;
    border-bottom: 1px white solid;
}

.navContent{
    display: flex;
    justify-content: space-around;
}
.navLink {
    text-decoration: none;
    font-size: 1.5rem;
    gap: 2rem;
}

.homeContainer {
    width: 95%;
    margin: auto;
}

.pageContainer {
    width: 60%;
}

.btnContainer {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.btn {
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 8px;
    border-radius: 8px;
}

.productContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    box-shadow: 1px 2px 0px 10px rgba(255,255,255,0.53);
    -webkit-box-shadow: 1px 2px 0px 10px rgba(255,255,255,0.53);
    -moz-box-shadow: 1px 2px 0px 10px rgba(255,255,255,0.53);
    border-radius: 4rem;
}

.prodContent{
    width: 80%;
    background: none;
}

.prodItem {
    text-align: center;
    background: none;
    height: 2rem;
}

.prodImg{
    width: -webkit-fill-available;
    height: 7rem;
}

.prodBtn {
    padding: 1rem;
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
}
</style>