<div class="container">
     <div>
        <a class="btn" href="/">HOME</a>
    </div>
    <div class="header">
        <h1>CARRITO</h1>
        <h3 class="deleteProd" data-cart={{cId}}># {{cId}}</h3>
    </div>
    <div id="confirmMsg"></div>
    <div class="homeContainer">
        <div class="productContainer">
        {{#each products}}
            <div class="product">
            <div>
                <button id="deleteBtn"  value={{this.product._id}}  onclick="deleteProd(value)">ELIMINAR</button>
            </div>
                <div class="productContent">
                    <h3 class="prodItem">{{this.product.title}}</h3>
                    <img class="prodImg" src={{this.product.thumbnail}} alt={{this.product.title}}>
                    <h4 class="prodItem">CODIGO {{this.product.code}}</h4>
                    <h4 class="prodItem">DESCRIPCION {{this.product.description}}</h4>
                    <h4 class="prodItem">$ {{this.product.price}}</h4>
                    <h4 class="prodItem">CANTIDAD {{this.quantity}}</h4>
                    <input class="prodItem" onchange="newQtt(event)" name="newQuantity" type="number" min="0" max={{this.product.stock}}>
                    <button class="prodItem" value={{this.product._id}} onclick="updateProd(value)">ACTUALIZAR</button>
                </div>
            {{!-- <div class="productContent">
                <label>Edit </label>
            </div> --}}
            </div>
        {{/each}}
        </div>
    </div>
    <div>
        <button class="btn" value={{cId}} onclick="purchase(value)">FINALIZAR COMPRA</button>
    </div>
</div>

<script>
    const fetchUrl = "https://proyectofinal-node-production.up.railway.app/";


    const mensaje = document.querySelector("#confirmMsg");

    async function purchase(value){
        const response = await fetch(`${fetchUrl}api/carts/${value}/purchase`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
    })
    response
        .json()
        .then((d) => window.location.href = `${fetchUrl}ticket/${d._id}`)    
        .catch((err) => mensaje.innerHTML = `<p>${err}</p>`)
    }
    
    const cartId = document.querySelector(".deleteProd").getAttribute('data-cart');

    async function deleteProd(idProd) {
        const response = await fetch(`${fetchUrl}api/carts/${cartId}/product/${idProd}`, {
            method: "DELETE",
            headers: {
                "Content-Type": "application/json",
            },
        })
        response
        .json()
        .then((d) => window.location.href = `${fetchUrl}carts/${cartId}`)
        .catch((err) => mensaje.innerHTML = `<p>${err}</p>`)
    }

    let newQuantity;

    function newQtt(evt) {
        evt.preventDefault()
        newQuantity = evt.target.value
    }

    async function updateProd(idProd) {
        const body = {
            quantity: newQuantity
        }

        const response = await fetch(`${fetchUrl}api/carts/${cartId}/product/${idProd}`, {
            method: "PATCH",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(body)
        })
        response
        .json()
        .then((d) => window.location.href = `${fetchUrl}carts/${cartId}`)
        .catch((err) => mensaje.innerHTML = `<p>${err}</p>`)
    }


</script>

<style>
    * {
background-color: black;
color: white;
padding: 8px;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 95%;
    margin: auto;
    text-align: center;
    padding: .5rem 0 ;
    border-bottom: 1px white solid;
}

.navContent{
    display: flex;
    justify-content: space-around;
}
.navLink {
    text-decoration: none;
    font-size: 1.5rem;
    gap: 2rem;
}

.homeContainer {
    width: 95%;
    margin: auto;
}

.pageContainer {
    width: 60%;
}

.btnContainer {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.btn {
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 8px;
    border-radius: 8px;
}

.productContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    box-shadow: 1px 2px 0px 10px rgba(255,255,255,0.53);
    -webkit-box-shadow: 1px 2px 0px 10px rgba(255,255,255,0.53);
    -moz-box-shadow: 1px 2px 0px 10px rgba(255,255,255,0.53);
    border-radius: 4rem;
}

.prodContent{
    width: 80%;
    background: none;
}

.prodItem {
    text-align: center;
    background: none;
    height: 2rem;
}

.prodImg{
    width: -webkit-fill-available;
    height: 7rem;
}

.prodBtn {
    padding: 1rem;
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
}
</style>