<div>
    <div class="header">
        <button class="logoutBtn" onclick='logout()'>
            CERRAR SESION
        </button>
        <a href="/" style="text-decoration: none;">
            <h1>HOME</h1>
        </a>
         <div class="header">
            <h3>BIENVENIDO {{nombre}} {{apellido}}!</h3>
        </div>
        <div>
            <ul class="navContent">
                <a class="navLink" href="/products?sort=asc&status=true&category=running">PRODUCTS</a>
                <a class="navLink" href="/chat">CHAT</a>
            </ul>
        </div>
    </div>
    <div class="homeContainer">
        <div class="pagesContainer">
            <h4>TOTAL PAGINAS {{pages}}</h4>
        </div>
        <div class="btnContainer">
            <div class="pageBtn">
                {{#if hasPrevPage}}
                <a class="btn" href={{prevLink}}>&#60</a>
                {{/if}}
                <p style="margin: 0">PAGINA {{page}}</p>
                {{#if hasNextPage}}
                <a class="btn" href={{nextLink}}>&#62</a>
                {{/if}}
            </div>
            {{!-- <div>
                <label>LIMIT</label>
                <a class="btn" href="/?limit=5">5</a>
                <a class="btn" href="/?limit=3">3</a>
            </div>
            <div>
                <label>ORDENAR POR</label>
                <a href="http://localhost:8080/?sort=des&status=true">
                    <button class="btn">MAYOR PRECIO</button>
                </a>
                <a href="http://localhost:8080/?sort=asc&status=true">
                    <button class="btn">MENOR PRECIO</button>
                </a>
            </div> --}}
        </div>

        <div class="productContainer">
            {{#each products}}
            <div class="product">
                <div class="prodContent">
                    <h3 class="prodItem">{{this.title}}</h3>
                    <img class="prodImg" src="{{this.thumbnail}}" alt="{{this.code}}">
                    <h4 class="prodItem"> {{this.description}}</h4>
                    <h4 class="prodItem">${{this.price}}</h4>
                    <button class="prodBtn" value={{this._id}} onclick="toCart(value)">AGREGAR AL CARRITO</button>
                </div>
            </div>
            {{/each}}
        </div>

    </div>


</div>

<script src="js/home.js"></script>