<div class="homeContainer">
    <div>
        <a class="btn" href="/">HOME</a>
    </div>
    <div class="productContainer">
        <div class="product">
            <div class="prodContent">
                <h1>{{title}}</h1>
                <p>{{description}}</p>
                <img style="height: 7rem" src={{thumbnail}} alt={{code}}>
                <p>ID {{_id}}</p>
                <p>CATEGORIA {{category}}</p>
                <p>$ {{price}}</p>
                <p>STOCK {{stock}}</p>
            </div>
        </div>

    </div>
    <div class="form">
        <label>CANTIDAD</label>
        <input  style="text-align: center;" type="number" id="quantity" min="0" max={{stock}}>
        <button class="toCart" data-cart={{cart}} value={{ _id}} data-owner={{owner}} onclick="addToCart(value)">AGREGAR AL CARRITO</button>
    <div id="confirmMsg"></div>
    </div>
</div>

{{!-- No pude hacerlo funcionar de esta manera me dice que addToCart no esta definido  --}}
{{!-- <script src="js/products.js"></script> --}}


<script>
    const input = document.querySelector("#quantity");
    const mensaje = document.querySelector("#confirmMsg");
    const cartId = document.querySelector(".toCart").getAttribute('data-cart');
    const prodOwner = document.querySelector(".toCart").getAttribute('data-owner');

    async function addToCart(product, owner) {

        const quantity = input.value;

        const body = {
            product,
            quantity,
            prodOwner
        }
        if(+quantity === 0) {
            mensaje.innerHTML = '<p>PRODUCTO SIN STOCK</p>'
            return
        }

        const response = await fetch(`https://proyectofinal-node-production.up.railway.app/api/carts/${cartId}`, {
        method: 'PUT',
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify(body)
        })

        if(response.status !== 400){
            window.location.href = `https://proyectofinal-node-production.up.railway.app/carts/${cartId}`
        }else {
            mensaje.innerHTML = '<p>ERROR AL AGREGAR EL PRODUCTO</p>'
        }
    }
</script>

<style>
* {
    background-color: black;
    color: white;
    padding: 8px;
}

.btn {
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 8px;
    border-radius: 8px;
}

.productContainer{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: center;

}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    box-shadow: 1px 2px 0px 10px rgba(255,255,255,0.53);
    -webkit-box-shadow: 1px 2px 0px 10px rgba(255,255,255,0.53);
    -moz-box-shadow: 1px 2px 0px 10px rgba(255,255,255,0.53);
    border-radius: 4rem;
}

.prodContent{
    width: 100%;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prodItem {
    text-align: center;
    background: none;
    height: 2rem;
}

.prodImg{
    width: -webkit-fill-available;
    height: 7rem;
}

.prodBtn {
    padding: 1rem;
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
}

.form{
    width: 17%;
    display: flex;
    margin: 3rem auto;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    gap: 10px;
}

.toCart{
    padding: 1rem;
}


</style>